body{
    background-color: #ded9ee;
}

.card{
    border: 0px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 5px 28px 5px rgba(0,0,0,0.69);
    -webkit-box-shadow: 10px 5px 28px 5px rgba(0,0,0,0.69);
    -moz-box-shadow: 10px 5px 28px 5px rgba(0,0,0,0.69);
}

.card-header{
    background-color: #228cdc;
    color: black;
    text-align: center;
    padding: 25px;
}

.login{
    font-weight:700;
}

.card-body{
    background-color:ghostwhite;
}

.card-footer{
    text-align: center;
    border-radius: 15px;
    background-color:rgb(253, 235, 201);
}